<div class="table-responsive h-100" id="tbOfDefConf">
    <table class="table">
        <thead>	
            <tr >
                <th colspan="11" class="text-center bg-primary">{{[OFERRConf|length," pièces ont ce statut"]|join}}</th>
            </tr>
            <tr>
                <th>Désignation</th>
                <th>OF</th>
                <th>Opération</th>
                <th>Statut</th>
            </tr>	
        </thead>
        {% for OF in OFERRConf %}                               
            {# {% set nameTR = ['IDChargt',jour,CTO.Nom,loop.index]|join %} #}
                    <tbody class="border bg-secondary">
                        {# <tr id="{{nameTR}}"> #}
                        <tr>
                            <td><a href="#" class="h6">{{OF.DesignationPcs}}</a></td>
                            <td><a href="#">{{OF.OrdreFab}}</a></td>
                            <td><a href="#" class="h6">{{OF.PosteW}}</a></td>
                            <td><span class="col-auto"><i class="fa fa-finish fa-1x text-gray">{{OF.Statut}}</i></span></td>
                            {# <td><b ref=""  id="btn-success" class="btn btn-success" style="border-radius:40px;background-color:blue;color:white" onclick='SelectCTO({{nameTR}},"{{myDate|date('Y-m-d H:i')}}","{{ test.PlanningSAP.Cycles }}")'>Sélectionner</b></td> #}
                        </tr>
            </tbody>
        {% endfor %}
    </table>
</div>