<div id="myDatasCTO">
    <div class="table-responsive h-100 bg-primary" id="tbDatasChargt">
        <table class="table">
            <thead>	
                <tr>
                    <th>OF</th>
                    <th>Ref</th>
                    <th>Désignation</th>
                    <th>Horizon</th>
                    <th>Action</th>
                </tr>	
            </thead>
            
            {% for key, OT in Datas %}
                {# Récupération pour affichage du nb de polym sans traitement de l'outillage  #}
                {% if datasOT is not empty %}
                    {% if datasOT[key].nbPolymssTrait is null %}
                        {% set nbPol = 0 %}
                    {% else %}
                        {% set nbPol = datasOT[key].nbPolymssTrait %}
                    {% endif %}
                {% else %}
                    {% set nbPol = random(0, 10) %}
                {% endif %}
                                            
                {# {% set nameTR = ['IDChargt',jour,CTO.Nom,loop.index]|join %} #}
                        <tbody class="border bg-secondary">
                            {# <tr id="{{nameTR}}"> #}
                            <tr>
                                <td colspan="11" class="text-center bg-primary">{{key}}
                                    {# <a href="{{ path('modif_OFs_OT', {'OT': key}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="Modifier"><span class="m-1" style="font-size: 1em;
                                    color: Blue;"><i class="fa fa-edit"></i></span></a>
                                    <a href="{{ path('affichagePlanningMoul', {'CTO': Datas}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="Visualiser"><span class="m-1" style="font-size: 1em;
                                    color: Green;"><i class="fa fa-eye"></i></span></a> #}
                                    <a href="{{ path('sup_OT', {'OT': key}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="Supprimer"><span class="m-1" style="font-size: 1em;
                                    color: Red;"><i class="fa fa-trash"></i></span></a>
                                    {% if nbPol > 7 and nbPol <= 9 %}
                                        <a href="{{ path('val_OT', {'OT': key}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="valider"><span class="m-1" style="font-size: 1em;
                                        color: Green;"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        <a href="#" class="badge badge-warning" title="Nombre de polymérisation">{{nbPol}}</a>              
                                    {% elseif nbPol > 9 %}
                                        <a href="#" class="text-warning" data-toggle="tooltip" data-animation="false" title="planifier B15"><span class="m-1" style="font-size: 1em;
                                        color: Green;"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                        <a href="#" class="badge badge-danger" title="Nombre de polymérisation">{{nbPol}}</a>
                                    {% else %}
                                        <a href="{{ path('val_OT', {'OT': key}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="valider"><span class="m-1" style="font-size: 1em;
                                        color: Green;"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        <a href="#" class="badge badge-success" title="Nombre de polymérisation">{{nbPol}}</a> 
                                    {% endif %}
                                </td>
                            </tr>
                                {% for Data in OT %}
                                    <tr>
                                        {# <td><a href="#">{{Data.OF}}</a></td> #}
                                        <td>
                                            <select class="select" name="OF" id="{{Data.Ref}}">
                                                <option value="">{{Data.OF}}</option>
                                            </select>
                                        </td>
                                        <td><a href="#" class="h6">{{Data.Ref}}</a></td>
                                        <td><a href="#" class="h6">{{Data.Designation}}</a></td>
                                        <td><span class="col-auto"><i id="{{Data.Ref}}" class="fa fa-calendar fa-1x text-gray">{{Data.Horizon}}</i></span></td>
                                        <td><a href="#" class="text-warning" data-toggle="tooltip" data-animation="false" title="Modifier cet OF" onclick="affichageSelectOF({{ Data.Ref}}, '{{ path('modif_OF_OT') }}')">
                                        <span class="m-1" style="font-size: 1em;color: Blue;"><i class="fa fa-edit"></i></span></a></td>
                                    </tr>
                                {% endfor %}
                        </tbody>
            {% endfor %}
        </table>
    </div>
</div>