{% extends 'planning_mc/BaseDemandesPolym.html.twig' %}

{% block form %}
		{{ form_start(formDemande) }}
		<div class="form-row">
			<div class="form-group col-md-6">
				{{form_row(formDemande.cycle, {'attr' : {'placeholder' : "Nom de la polymérisation" }}) }}
			</div>
			<div class="form-group col-md-6">
				{{form_row(formDemande.ListCTO, {'attr' : {'placeholder' : "Sélectionner le CTO" }}) }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				{{form_row(formDemande.ListOT, {'attr' : {'placeholder' : "Sélectionner les outillages" }}) }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				{{form_row(formDemande.ListOF, {'attr' : {'placeholder' : "Sélectionner les OF" }}) }}
			</div>
		</div>
		<div class="form-row align-items-center">
			<div class="form-group col-md-4">
				{{form_row(formDemande.date_propose, {'attr' : {'placeholder' : "Proposer une date" }}) }}
			</div>
			<div class="form-group col-md-3">
				{{form_row(formDemande.heure_propose, {'attr' : {'placeholder' : "Proposer une horaire" }}) }}
			</div>
			<div class="form-group col-md-5">
				{{form_row(formDemande.Reccurance, {'attr' : {'placeholder' : "True ou False" }}) }}
			</div>
		</div>
		<div class="form-group">
			{{form_row(formDemande.commentaires, {'attr' : {'placeholder' : "Entrez vos commentaires si besoin" }})}}
		</div>
		<div class="form-group">
			{{form_row(formDemande.outillages, {'attr' : {'placeholder' : "Entrez les outillages si besoin" }})}}
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">
				Enregistrer la Demande
			</button>
		</div>
		{{ form_end(formDemande) }}
{% endblock %}
