{% extends 'base.html.twig' %}

{% block title %}Demandes de créneaux de polymérisations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vis.css') }}">
    <style type="text/css">
		@media only screen and (max-width: 320px) {
			
		}
        table {
			width: 100%;
			font-size: 2vmin;
	   }
		th{
			color:#000008;
			background-color: #1e90ff;
		}
		td{
			font-weight: bold;
		}
		.btn.btn-info.btn-block{
			background-color: #1dd60c;
		}
		.vis-item {
			border-color: blue;
		}
		.recurring.vis-item.vis-range { border-radius: 15px; }
		.vis-background .vis-group:nth-child(even){background-color:#f7f8fa; }
	</style>
{% endblock %}

{% block body %}
{% if app.session.flashBag.has('Annulation') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('Annulation') %}
                {{ msg }}
            {% endfor %}
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endif %}
	<div class="row">
		<div class="col-md-8">
			<h1>Prévisualisation des créneaux de polymérisations de la semaine : {{datedeb|date('W')}}</h1>
			<div id="visualization"></div>
		</div>
		<div class="col-md-4">
			<!-- Widgets pour polym réccurante -->
			<div class="card my-4">
				<h5 class="card-header">Date début plannification</h5>
				<div class="card-body">
					<div class="input-group">
						<form action="{{ path('Demandes',{'service':'MOULAGE'})}}" method="POST" onclick=Changeheure()>
							<input type="date" id="datejourplanif" name="DatedebPlan" value={{datedeb|date('Y-m-d')}}>
							<select id='UserCE' name='UtilisateursCE'>
								{% set a = 0 %}
									{% for useCE in utilisateurs %}
										{% if (app.user.username == useCE.username) %}
											<option value='{{ useCE.username }}' selected>{{ useCE.username  }}</option>
											{% set a = 1 %}
										{% else %}
											<option value='{{ useCE.username }}'>{{ useCE.username  }}</option>
										{% endif %}						
									{% endfor %}
									{% if a == 0 %}
										<option value='{{ app.user.username }}' selected>{{ app.user.username }}</option>
    								{% endif %}   
							</select>
							<button type="submit" class="btn btn-success" value="Submit"style="border-radius:40px;background-color:blue;color:white">Valider</button> {#<pre></pre> {{ render(controller('App\\Controller\\PlanningMCController::DemandesCrea',{'datejour': datejourplanif}))}}></pre>#} 
						</form>
					</div>
				</div>
			</div>
			<div class="card" >
				<h5 class="card-header">Polym récurrante de la semaine :  {{datedeb|date_modify('-7 days')|date('W')}}</h5>
				<div class="card-body">
						<ul class= "list-group list-group-flush" >
						{% for Demandes in DemRec %}
							{% if Demandes.DatePropose|date('Y-m-d') >= datedeb|date_modify('-7 days')|date('Y-m-d') and Demandes.DatePropose|date('Y-m-d') < datedeb|date_modify('-0 days')|date('Y-m-d') %}
								<li class= "list-group-item" >  
									<table class="table">
											<td>{{Demandes.cycle.nom}}</td>
											<td><input type="checkbox" name='{{Demandes.id}}' value={{ Demandes.reccurance }} ></td>
											<td><input type="date" id='{{Demandes.id}}' value={{Demandes.planning.DebutDate|date('Y-m-d')}}></td>
											<td><form action="{{ path('Crea_Demandes')}}" method="POST" id="DemRecu">
													<input type="hidden" name='Demandes' value="{{Demandes.id}}" />
													<input type="hidden" name='DatePla' value="{{Demandes.planning.DebutDate|date('Y-m-d')}}" />	
													<input type="hidden" name='HeurePla' value="{{Demandes.planning.DebutDate|date('H:m:s')}}" />
													<input type="hidden" name='IdPla' value="{{Demandes.planning.id}}" />	
													<button type="submit" class="btn btn-success" value="Submit"><span>CREER</span></button>
												</form>
											</td>
										</form>
									</table>
								</li>
							{% else %}

							{% endif %}
						{% endfor %}	
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Création de la liste des avions du user -->
	{% set avions={} %}
	{% for avion in app.user.programmeAvion %}
		{% set avions = avions | merge([avion['designation']]) %}
	{% endfor %}
	<!-- Début du tableau des demandes -->
		<h1>Demandes en cours ✅</h1>
	{% for Moyen in Moyens %}
    	{% set moy ={id:  Moyen.id ,content: Moyen.Libelle} %}
	{% endfor %}
		<!-- Modal -->
		<div class="modal" id="demandesModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<!-- Création des demandes avant gestion des outillages APAMC v1.9-->
					<div class="modal-body" id="content">
						{# {{ render(controller('App\\Controller\\PlanningMCController::DemandesCrea',{ 'datejour':  datedeb|date('Y-m-d'), 'user': app.user })) }} #}
					</div>
				</div>
			</div>
		</div>
<div class="table-responsive">
    <table class="table">
		<thead>		
		</thead>
			<table class="table">	
			{% set start_jour = datedeb | date('d') %}
			{% set end_jour = datefin | date('d') %}
			{% for day in  start_jour .. start_jour+6 %}
				{% set jour = day-start_jour %}
				{% set myDate = datedeb|date_modify(['+',jour,'days']|join) %}
				{% set myDa = myDate|localizeddate('none', 'none', null, null, 'EEEE') %}
				{% set myDat = myDate|date('d/m/y')|upper %}
				{% set myDateJour = myDate|date('Y-m-d') %}
				<tr>
					<td colspan="11">
						<button type="button" class="btn btn-info btn-block">
							<a href="{{ path('Crea_Demandes', {'datejour': myDateJour|date('Y-m-d')}) }}"  data-jour={{ myDateJour|date('Y-m-d') }}>
									<span>CREER UNE DEMANDE POUR LE {{myDa}} {{myDat}}</span></a>
						</button>
					</td>
				</tr>
				<thead>
						<tr> 
								<th> Statut </th>	
								<th> Id </th>
								<th> Cycle </th>
								<th> Date Proposée </th>
								<th> Heure Proposée </th>
								<th> Outillages </th>
								<th> Réccurent </th>
								<th> Commentaires </th>
								<th> Date de création </th>
								<th> Date de modification </th>
								<th> Actions </th>
				
							</tr>
				</thead>
				{% for cycle in Cycles|filter(cycle => cycle.datePropose|date('d/m/Y') == myDate|date('d/m/Y')) %}					
					<tbody class="text-primary">
					<tr>
						<td>
							{% if cycle.plannifie == 1 %}
								{% set datasPPlanif = ['Debut plannifié: ',cycle.planning.DebutDate|date('d/m/Y H:i'),'\n','Moyen: ',cycle.planning.identification
								,'\n','Id Polym: n°',cycle.planning.id]|join %}
								{% if cycle.planning.Statut == 'ANNULER' %}
									<span style="color : Red" data-toggle="tooltip" data-placement="bottom" title="{{ datasPPlanif|nl2br }}"><i class="fa fa-thumbs-down"></i></span>
								{% else %}
									<span style="color : Green" data-toggle="tooltip" data-placement="bottom" title="{{ datasPPlanif|nl2br }}"><i class="fa fa-thumbs-up"></i></span>
								{% endif %}
							{% else %}
								<i class="fa fa-pause-circle"></i>
							{% endif %}
						</td>
						<td>{{ cycle.id  }}</td>
						<td>{{ cycle.cycle.nom }}</td>
						<td>{{ cycle.datePropose ?  cycle.datePropose|date('d/m/Y') : ''  }}</td>
						<td>{{ cycle.heurePropose ? cycle.heurePropose|date('H:i:s') : '' }}</td>
						<td>{{ cycle.outillages  }}</td>
						<td>{{ cycle.reccurance ? 'OUI' : 'NON'}}</td>
						<td>{{ cycle.commentaires }}</td>
						<td>{{ cycle.dateCreation ? cycle.dateCreation|date('d/m/Y H:i:s') : '' }}</td>
						<td>{{ cycle.dateModif ? cycle.dateModif|date('d/m/Y H:i:s') : '' }}</td>
						<td>
							<!-- Gestion de l'accès aux demandes suivant user et/ou progAvions -->
							{% set acces = false %}
							{% for item in cycle.cycle.avion if not acces %}
								{% if item.libelle in avions %}
									{% set acces = true %}
								{% else %}
									{% set acces = false %}
								{% endif %}								
							{% endfor %}

							{% if app.user.username == cycle.UserCrea and acces == false %}
								{% set acces = true %}
							{% endif %}

							{% if acces == true and cycle.plannifie == 0 %}
								<ul class="fa-ul">
									<li><a href="{{ path('Modif_Demandes', {'id': cycle.id}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="Modifier"><span class="m-1" style="font-size: 1.3em; 
									color: Orange;"><i class="fa fa-pencil"></i></span></a></li>
									<li><a href="{{ path('Sup_Demandes', {'id': cycle.id}) }}" class="text-danger" data-toggle="tooltip" data-animation="false" title="Supprimer"><span class="m-1" style="font-size: 1.3em;
									color: Tomato;"><i class="fa fa-trash"></i></span></a></li>
								</ul>	
							{% elseif  acces == true and cycle.planning.Statut != 'ANNULER' %}
								<ul class="fa-ul">
									<li><a href="{{ path('Deprog_Demandes', {'id': cycle.id}) }}" class="text-danger" data-toggle="tooltip" data-animation="false" title="Annuler"><span class="m-1" style="font-size: 1.3em;
								 	color: Tomato;"><i class="fa fa-envelope-o"></i></span></a></li>
									<li><a href="{{ path('Modif_Demandes', {'id': cycle.id}) }}" class="text-warning" data-toggle="tooltip" data-animation="false" title="Modifier"><span class="m-1" style="font-size: 1.3em; 
									color: Tomato;"><i class="fa fa-edit"></i></span></a></li>
								</ul>
							{% endif %}
						</td>
					</tr>
					</tbody>
				{% endfor %}
			{% endfor %}
		</table>				
	</table>
 </div> 

{% endblock %}
 
{% block javascripts %}
<script src="{{ asset('build/vis.js') }}"></script>
<script src="{{ asset('build/handlebars.min.js') }}"></script>
<script src="{{ asset('build/prototype.js') }}"></script>
<script src="{{ asset('build/sweetalert.min.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('build/jquery.min.js') }}"></script>
<script src="{{ asset('build/bootstrap.min.js') }}"></script>
    <script id="item-template" type="text/x-handlebars-template">
            <table class="infos">
                <tr>
                    <td colspan="3" class="programmes">{% verbatim %}{{programmes}}{% endverbatim %}</td>
                    <th><img src="{{asset('build/images/{{statut}}.png')}}" width="31" height="20" alt="{% verbatim %}{{icone}}{% endverbatim %}"></th>
                    <td colspan="3" class="statut">{% verbatim %}{{statut}}{% endverbatim %}</td>
                </tr>
            </table>
    </script>
    <script id="item-popup" type="text/x-handlebars-template">
            <table class="infos">
                <tr>
                    <td colspan="3" class="programmes">{% verbatim %}{{programmes}}{% endverbatim %}</td>
                    <td colspan="3" class="statut">{% verbatim %}{{statut}}{% endverbatim %}</td>
                </tr>
            </table>
    </script>
<script type="text/javascript">
const lang = navigator.language; // "de_DE"; // "en_US"; // 
const locale = (lang && lang !== undefined) ? lang.match(/^\w{2}/)[0] : 
    (lang === "de" || lang === "fr" || lang === "it" || lang === "nl") ? lang : "en"; // "en"; // "de"; //
        // create a handlebars template
        var source = document.getElementById('item-template').innerHTML;
        var template = Handlebars.compile(source);
var conteneur = document.getElementById ('visualization');

var groups = {{Moyens|raw}};

var items = new vis.DataSet ({{taches|raw}});

var options = {
			template:template,
            stack: true,
            start: '{{datedeb|date('Y-m-d\\TH:i:sP') }}',
			end: '{{datefin|date('Y-m-d\\TH:i:sP') }}',
            verticalScroll: true,
			zoomKey: "ctrlKey",
            orientation: 'top'};
var timeline = new vis.Timeline (conteneur, items, groups, options);
</script>
{% endblock %}

