{% extends 'base.html.twig' %}

{% block title %}Planning {{ service }}!{% endblock %}
{% block head %}<META HTTP-EQUIV="Refresh" CONTENT="600">{% endblock %}
{% block stylesheets %}
    {# <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="{{ asset('build/bootstrap-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vis.css') }}">
    <style type="text/css">
        table {
            width: 100%;
            font-size: 1.5em;
        }
        .sweetalert-lg {
            width: 600px;
        }
        .gris{
            background: rgb(0, 50, 95);
            border-color: rgb(230, 0, 50);
        }
        .vis-time-axis .vis-text {
            color: white;
        }
        .vis-time-axis .vis-grid.vis-h5 {
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h6{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h7{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h8{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h9{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h10{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h11{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h12{
        background: blue;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h13{
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h14{
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h15{
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h16{
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h17{
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h18 {
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h19 {
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h20 {
        background: red;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h21 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h22 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h23 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h0 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h1 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h2 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h3 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-grid.vis-h4 {
        background: grey;
        opacity: 0.3;
        }
        .vis-time-axis .vis-text.vis-saturday,
        .vis-time-axis .vis-text.vis-sunday {
        color: black;
        }
        .progress-wrapper {
            background: white;
            width: 100%;
            height: 18px;
            text-align: center;
            position: relative;
            overflow: hidden;
        }

        .progress {
            height: 50%;
            width: 90%;
            position: absolute;
            left: 0px;
            top: 5px;
            background: #63ed63;
        }

        .progress-label {
            position: absolute;
            z-index: 1;
        }

        .modal-body { 
            background: rgb(0, 50, 95);
            color:  white;
        }
        .button{
            display:    block;
            width:  100%;
        }
        .button_menu{
            display: flex;
            flex-flow: row wrap;
        }
        .button_menu .btn_valid{
            border-radius:  10px;
            position:   absolute;
            text-align: center;
            right:  0px;
            vertical-align: middle;
            background-image:radial-gradient( blue,green);
            color:  white;
            text-decoration:    none;  
            width:  100px;
            min-width:  7%;
            height: 30px;
        }
        .vis-item.vis-range{
            min-height: 0.5em;
            border-top-left-radius:     1em;
            border-top-right-radius:    1em;
            top:    0px;
        }
        #icone{
            height: 1em;
            width: 1em;
        }
        .vis-timeline{
            max-height: 100%;
        }
    </style>
{% endblock %}    
{% block body %}
<div class="text-center" id="msg_planning">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if label == 'warning' %}
            {% set tbDatas = message|split('/') %}
            {% set msg = ['Demande d\'annulation sur polym id n°',tbDatas[0],' sur ',tbDatas[1],' le : ',tbDatas[2]]|join %}
                <div class="alert alert-dismissible alert-{{ label }}" onclick="removeAlert(this)">
                    <a href="{{ path('Polym_Modif', {'id': message}) }}" class="alert-link" data-toggle="tooltip" title="Cliquer sur le lien pour annuler la polym">{{ msg | trans | capitalize }}</a>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            {% else %}
                
            {% endif %}
            <!-- Flash message -->
            
        {% endfor %}
    {% endfor %}
</div>

<div class="input" id="DatePlanif">
    <input type="hidden" id="JourPlannif" value="">
</div>
<nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active text-primary" href="#p1" data-toggle="tab" role="tab" aria-controls="tab-p1" aria-selected="true">Planning Moyens</a>
    <a class="nav-item nav-link text-primary" href="#p2" data-toggle="tab" role="tab" aria-controls="tab-p2" aria-selected="false">Agenda</a>
    {% if is_granted('ROLE_CE_MOULAGE') %}    
        <a class="nav-item nav-link text-primary" href="#p3" data-toggle="tab" role="tab" aria-controls="tab-p3" aria-selected="false">Superviseur</a>
    {% endif %}
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active" id="p1" role="tabpanel" aria-labelledby="p1">
    {% include 'planning_mc/Planning.html.twig' %}
  </div>
  <div class="tab-pane fade in" id="p2" role="tabpanel" aria-labelledby="p2">
    <div class="conteiner-fluid">
            {{ render(controller('App\\Controller\\SuperviseurController::Agenda',{ 'user': app.user , 'service' : service})) }}
    </div>
  </div>
  <div class="tab-pane fade in" id="p3" role="tabpanel" aria-labelledby="p3">
    <div class="conteiner-fluid">
        {{ render(controller('App\\Controller\\SuperviseurController::Superviseur',{ 'user': app.user , 'service' : service})) }}
    </div>
  </div>
</div>  
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/popper.min.js') }}"></script>
    <script src="{{ asset('build/vis.js') }}"></script>
    <script src="{{ asset('build/handlebars.min.js') }}"></script>
    <!-- <script src="{{ asset('build/prototype.js') }}"></script> perturbe le fonctionnement des navs de bootstrap -->
    <script src="{{ asset('build/jquery.min.js') }}"></script>
    <script src="{{ asset('build/bootstrap.min.js') }}"></script> 
    <script src="{{ asset('build/sweetalert.min.js') }}"></script>
    <script src="{{ asset('build/bootstrap-toggle.min.js') }}"></script>
{% endblock %}