{% extends 'planning_mc/BaseDemandesPolym.html.twig' %}

{% block form %}
		{{ form_start(formDemande) }}
		<div class="form-row">
			<div class="form-group col-md-4">
				{{form_row(formDemande.cycle, {'attr' : {'placeholder' : "Nom de la polymérisation", 'readonly' : true }}) }}
			</div>
			<div class="form-group col-md-8">
				{{form_row(formDemande.ListOF, {'attr' : {'placeholder' : "Sélectionner les OF" }}) }}
			</div>
		</div>
		<div class="form-row align-items-center">
			{{form_row(formDemande.ListCTO, {'attr' : {'placeholder' : "Sélectionner les CTO" }}) }}
		</div>
		<div class="form-row align-items-center">
			<div class="form-group col-md-4">
				{{form_row(formDemande.date_propose, {'attr' : {'placeholder' : "Proposer une date", 'readonly' : true }}) }}
			</div>
			<div class="form-group col-md-3">
				{{form_row(formDemande.heure_propose, {'attr' : {'placeholder' : "Proposer un horraire", 'readonly' : true }}) }}
			</div>
			<div class="form-group col-md-5">
				{{form_row(formDemande.Reccurance, {'attr' : {'placeholder' : "True ou False", 'readonly' : true }}) }}
			</div>
		</div>
		<div class="form-group">
			{{form_row(formDemande.commentaires, {'attr' : {'placeholder' : "Entrez vos commentaires si besoin" }})}}
		</div>
		<div class="form-group">
			{{form_row(formDemande.outillages, {'attr' : {'placeholder' : "Entrez les outillages si besoin" }})}}
		</div>
		<div class="form-group">
				<button type="submit" class="btn btn-warning">
					Modifier la Demande
				</button>
		</div>
		{{ form_end(formDemande) }}
	</div>
{% endblock %}
