{% block title %}Planning Prévisionnel{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %}
<style>
td{
    color: #00325F;
}
</style>
<div class="conteiner-fluid">
    {% set nbMessErrT = nbMessErr %}
    <input type="hidden" id='nbMessErrT' value={{nbMessErrT}}>
        {#<pre>{{dump(tests)}}</pre>#} 
    <div class="table-responsive" id="PolymAff">
        <table class="table">
            <thead>		
            </thead>
            <table class="table">	
                {% set start_jour = datedeb | date('d') %}<!-- Recherche du n° du jour de départ de la semaine n+1-->
                {% set end_jour = datefin | date('d') %}<!-- Recherche du n° du jour de fin de la semaine n+1 -->
                {% for day in  start_jour .. start_jour+31  %}<!-- Boucle sur la semaine concernée -->
                    {% set jour = day-start_jour %}<!-- Variable permettant de recaler l'offset dût à la boucle -->
                    {% set myDate = datedeb|date_modify(['+',jour,'days']|join) %}<!-- On prend en compte l'offset pour retrouver le premier jour de la semaine -->
                    {% set myDa = myDate|localizeddate('none', 'none', null, null, 'EEEE') %}<!-- Nom des jours de la semaine -->
                    {% set myDat = myDate|date('d/m/y')|upper %}<!-- Mise en forme des jours -->
                    <tr>
                        <!-- Mise en forme du bouton de validation groupé de la plannification -->
                        <td colspan="11">

                                <i href="" data-toggle="modal" class="btn btn-info btn-block" font="white" data-target="" data-id={{ myDat }} onclick=ValidJour('{{day}}')>
                                        <span>CHARGE DU {{myDa}} {{myDat}}</span>

                        </td>
                    </tr>
                    <thead>
                            <tr> 
                                <!-- Titre du tableau -->
                                    <th> Id </th>
                                    <th> Cycle </th>
                                    {# <th> Départ </th> #}
                                    <th> Nbre OT </th>
                                    <th>Chargements Validés</th>
                                    <th>Action</th>
                    
                            </tr>
                    </thead
                    {% for key, test in tests if test.PlanningSAP.Jour|date('d/m/Y') == myDate|date('d/m/Y') %}  
                    <tbody>
                        {% set nameTarget = ['#','collapse',loop.index]|join %}
                        <tr class="accordion-toggle"  data-toggle="collapse" data-target={{nameTarget}} id="{{ test.PlanningSAP.Cycles }}" 
                            {% if (test.PlanningSAP.NbrPcs == 0) %}
                                style="background-color:green"
                            {% else %}
                                {% if test.CTO %}
                                    style="background-color:orange"
                                {% else %}
                                   style="background-color:red" 
                                {% endif %}
                            {% endif %} 
                            >
                            <td>{{key}}</td>
                            <td>{{ test.PlanningSAP.Cycles }}</td>
                            {# <td>{{ test.Jour|date('H:i:s') }}</td> #}
                            <td>{{ test.PlanningSAP.NbrPcs }}</td>
                            <td>
                                {% for item in planifie %}
                                    {% if (item.DatePlannif|date('d/m/y') == myDat) and (item.Programme == test.PlanningSAP.Cycles) %}
                                        {% if item.Remplissage < 50 %}
                                            <span class="badge rounded-pill bg-danger">{{item.NomChargement}}</span>
                                        {% elseif item.Remplissage < 75 %}
                                            <span class="badge rounded-pill bg-warning text-dark">{{item.NomChargement}}</span>
                                        {% else %}
                                            <span class="badge rounded-pill bg-success">{{item.NomChargement}}<span class="badge bg-secondary">9</span><span aria-hidden="true">&times;</span></span>
                                        
                                        {% endif %}       
                                    {% endif %}
                                {% endfor %}  
                            </td>
                            <td><b ref=""  id="btn-success" class="btn btn-success" style="border-radius:40px;background-color:blue;color:white" onclick=''>Valider</b></td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <div id="{{['collapse',loop.index]|join}}" class="collapse in">
                                    {% if test.CTO %}
                                        {% set ChargFig = test.CTO %}
                                        {% for CTO in ChargFig %}                               
                                            {% set nameTR = ['IDChargt',jour,CTO.Nom,loop.index]|join %}
                                            <div class="table-responsive h-100" id="ChargAff">
                                                <table class="table">
                                                    <thead>	
                                                        <tr>
                                                            <th>Nom</th>
                                                            <th>Qté Pcs(OF)</th>
                                                            <th>Remplissages</th>
                                                            <th>Action</th>
                                                        </tr>	
                                                    </thead>
                                                    <tbody>
                                                        <tr id="{{nameTR}}">
                                                            <td><a href="#" id={{CTO.Nom}} onclick="affichageCTO({{ CTO.Nom|json_encode() }})">{{CTO.Nom}}</a></td>
                                                            <td><a href="#" id={{CTO.Nom}} onclick="affichageOFs({{ CTO.Contenu|json_encode() }})">{{CTO.Contenu|length}}</a></td>
                                                            <td>{{[CTO.Remplissage[0],"%"]|join}}<span class="col-auto"><i class="fa fa-calendar fa-1x text-gray-300">{{[CTO.Remplissage[1],"%"]|join}}</i></span></td>
                                                            <td><b ref=""  id="btn-success" class="btn btn-success" style="border-radius:40px;background-color:blue;color:white" onclick='SelectCTO({{nameTR}},"{{myDate|date('Y-m-d H:i')}}","{{ test.PlanningSAP.Cycles }}", {{CTO.Contenu|json_encode()}})'>Sélectionner</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </table>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
let d=document.querySelector('a')
// Pour détecter un clic sur un lien 
d.addEventListener('click', function (e) {
    e.preventDefault() // Annule l'évènement
    e.target // contient l'élément sur lequel on a cliqué
    //e.currentTarget // contient l'élément sur lequel on a greffé l'écouteur 
    alert(e)
})
function affichageCTO(codeCTO) {
    console.log(codeCTO);
    var cibleCTO=document.getElementById("myDatasCTO");
    $.ajax({
		cache: false,
		type: 'POST',
        data: {Code: codeCTO},
		url: "{{ path('tbDatasCTO_Crea') }}",
		success: function(data) 
		{
			cibleCTO.innerHTML=data;
		}
    });
}
function affichageOFs(datCharg) {
    console.log(datCharg);
    var cible=document.getElementById("myDatasChargement");
    $.ajax({
		cache: false,
		type: 'POST',
        data: {chargement: datCharg},
		url: "{{ path('tbDatasChargt_Crea') }}",
		success: function(data) 
		{
			cible.innerHTML=data;
		}
	});
}
function SelectCTO(ID,jour,prog,dossiers) {
    console.log(dossiers);
    var tbDatasChargt=ID.children	
    // var jour = $(this).attr('data-jour');
    dateJour=new Date(jour).toISOString().slice(0,10);
    console.log(dateJour);
    var pourcRemp=parseInt(tbDatasChargt[2].innerText, 10);
	$.ajax({
		cache: false,
		type: 'POST',
        data: {nom: tbDatasChargt[0].innerText, remp: pourcRemp, jour: dateJour, cycle: prog, charge: dossiers},
		url: "{{ path('Chargt_Crea') }}",
		success: function(data) 
		{
			console.log(data);
			// $('#exampleModal').show();
            // $('#content').show().html(data);
		}
	});
}
// $('#ChargAffi').on('click', 'tbody tr', function(event) {
//     // $(this).addClass('highlight').siblings().removeClass('highlight');
// });
// </script>
{% endblock %}