{% extends '/indicateurs/Frames/Layout.html.twig' %}
{% block body %}
<style>
</style>
<div class="container-fluid">
    <div class="card shadow">
        <h4 class="card-header">Charge SAP par programme de S{{SemUn|raw}} à S{{DerSem|raw}}</h4>
            <div class="card-block">
                <div id="chart-Repart-Charge"></div>
            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/jquery.min.js') }}"></script>
<script src="{{ asset('build/canvasjs.min.js') }}"></script>
<script type="text/javascript">
//Graphique sur la répartition des OF svt programmes 
$(function () {
			//Graph de répartition des cycles par semaine de la charge SAP sur le mois
            var Chart = new CanvasJS.Chart("chart-Repart-Charge", {
                animationEnabled: true,
                exportEnabled: true,
                backgroundColor: "transparent",
                theme: "light2",
                axisX: {
                    labelFontSize: 14,
                    valueFormatString: "D MMM Y",
                    interval: 1,
                    intervalType: "week"
                },
                axisY: {
                    labelFontSize: 14,
                    prefix: ""
				},
				legend: {
					maxHeight: 50,
					fontSize: 10,
				},
                toolTip: {
                    shared: true
                },
                data: {{RepartPcs|raw}}
            });

			Chart.render();
    })
</script>
{% endblock %}