<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}APAMC{% endblock %}</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('build/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/App.css') }}">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block head %}{% endblock %}
        {% block stylesheets %}
        <style type="text/css">
            .body{
                position:   sticky;
            }
            table {
                width: 100%;
                font-size: 2vmin;
            }
            th{
                color:white;
                background-color: #1e90ff;
            }
            td{
                font-weight: bold;
                color:  #6EB4CD;
            }
        </style>
        {% endblock %}
    </head>
    <body class="text-primary">
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <a href="{{path('home')}}" class="logo" data-container="body" data-html='true' data-toggle="tooltip" data-placement="bottom" title="Retourner à l'Accueil.">
			    <span class="logo-lg">
                    <img src="{{ asset('build/images/LOGO_DAHER.png') }}" width="117" height="46"/>
			    </span>
		    </a>
            <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if Titres is empty %}

                    {% else %}
                    {% for menu in Titres %}
                        {% if app.user %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id={{ menu.Nom }}>{{menu.Nom}}<span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby={{menu.Nom}}>
                                    <a class="dropdown-item" href="{{path(menu.IdSmenu1)}}">{{menu.IdSmenu1}} </a>
                                    <a class="dropdown-item" href="{{path(menu.IdSmenu2)}}">{{menu.IdSmenu2}}</a>
                                    <div class="dropdown-divider"></div>
                                    {% if menu.IdSmenu3 is empty %}
                                    {% else %}
                                        <a class="dropdown-item" href="{{path(menu.IdSmenu3)}}">{{menu.IdSmenu3}}</a>
                                    {% endif %}
                                    {% if menu.IdSmenu4 is empty %}
                                    {% else %}
                                        <a class="dropdown-item" href="{{path(menu.IdSmenu4)}}">{{menu.IdSmenu4}}</a>
                                    {% endif %}
                                    {% if menu.IdSmenu5 is empty %}
                                    {% else %}
                                        <a class="dropdown-item" href="{{path(menu.IdSmenu5)}}">{{menu.IdSmenu5}}</a>
                                    {% endif %}
                                    {% if menu.IdSmenu6 is empty %}
                                    {% else %}
                                        <a class="dropdown-item" href="{{path(menu.IdSmenu6)}}">{{menu.IdSmenu6}}</a>
                                    {% endif %}
                                    {% if menu.IdSmenu7 is empty %}
                                    {%else%}
                                        <a class="dropdown-item" href="{{path(menu.IdSmenu7)}}">{{menu.IdSmenu7}}</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% else %}
                            
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{path('security_login')}}" class="btn btn-info" role="button">Connexion</a>
                        </li>
                    {% else %}
                        {% if Titres is empty %}
                            
                        {% else %}
                            <li class="nav-item">
                                <a href="{{path('security_logout')}}" class="btn btn-info" role="button">Deconnexion</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if app.user %}
                    <form class="form-inline my-2 my-lg-0">
                        {#<pre></pre><a href="{{ path('security_registration') }}">{{app.user}}</a></pre>#} 
                        {#<pre></pre>{{dump(last_user|raw)}}</pre>#} 
                        <a href="#" class="btn btn-primary active">{{app.user.username}}</a>
                        {#<pre></pre>{{dump(app.user.username)}}
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button></pre>#} 
                    </form>
                {% else %}
                    <form class="form-inline my-2 my-lg-0">
                        <a href="#" class="btn btn-primary disabled">Visiteur</a>
                    </form>   
                {% endif %}
            </div>
        </nav>
		<div class="conteiner" >
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/jquery.min.js') }}"></script>
            <script src="{{ asset('build/popper.min.js') }}"></script>
            <script src="{{ asset('build/bootstrap.min.js') }}"></script>
		{% endblock %}
        {% block mesJavascripts %}
        {% endblock %}
    </body>
</html>
