{% extends 'base.html.twig' %}

{% block title %}ChargFige index{% endblock %}

{% block body %}
    <h1>ChargFige index</h1>

    <a href="{{ path('charg_fige_new') }}" class="btn btn-success pull-right">Création</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Statut</th>
                <th>Pourc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charg_fige in charg_figes %}
            <tr>
                <td>{{ charg_fige.id }}</td>
                <td>{{ charg_fige.Code }}</td>
                <td>{{ charg_fige.Statut ? 'OK' : 'NOK' }}</td>
                <td>{{ charg_fige.Pourc }}</td>
                <td>
                    <a href="{{ path('charg_fige_show', {'id': charg_fige.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('charg_fige_edit', {'id': charg_fige.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de chargement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
