{% extends 'base.html.twig' %}

{% block title %}ChargFige{% endblock %}

{% block body %}
    <h1>ChargFige</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ charg_fige.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ charg_fige.Code }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ charg_fige.Statut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pourc</th>
                <td>{{ charg_fige.Pourc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('charg_fige_index') }}">back to list</a>

    <a href="{{ path('charg_fige_edit', {'id': charg_fige.id}) }}">edit</a>

    {{ include('charg_fige/_delete_form.html.twig') }}
{% endblock %}
